@import 'compass/reset';
@import 'compass/css3';

$font-size: 17px;
$padding-size: 15px;
$font-family: Helvetica, sans-serif;


$tablet-width: 870px;

$mobile-width: 600px;

@import 'typography';

@mixin column {
    width: 46%;
    margin: 0;
    padding: 2%;
    float: left;

    @media (max-width: $mobile-width) {
        width: 89%;
        margin: 0 3.5%;
    }
}

body {
    height: 100%;
    background-color: skyblue;
    font-family: $font-family;
}

#location-form {
    max-width: $mobile-width;
    margin: 0 auto;
    padding: 0 5%;
    
    input[type="text"] {
        width: 70%;
    }

    button {
        width: 25%;
    }
}

#container {
    @include text();
    width: 92%;
    margin: 20px auto;
    min-height: 580px;
    padding: 0 4%;
    overflow: hidden;

    @media (max-width: $tablet-width) {
        width: 100%;
        padding: 0;
    }
}

.weather {
    @include column();
    .current-conditions {
        min-height: 160px;
        margin: 10px 0 20px;
        background-color: #fff;
        padding: 2*$padding-size;
        @include border-radius(4px, 4px);

        .temperature {
            @include text(90px);
            float: left;
        }
        .details {
            @include text(0.9*$font-size);
            float: right;
            width: 30%;
            font-size: 0.9*$font-size;


            @media (max-width: $tablet-width) {
                width: 100%;
                list-style-position: inside;
            }

            @media (max-width: $mobile-width) {
                font-size: $font-size;
            }
        }
        .conditions {
            @include text(1.75*$font-size);//font-size: 1.75*$font-size;
            clear: both;

            img {
                display: inline-block;
                vertical-align: middle;
                padding: 0 0 0 $padding-size;
                width: 75px;
            }
        }
    }

    .observation {
        font-size: 0.75*$font-size;
    }

    .forecast {
        overflow: hidden;
        img {
            float: left;
            padding: 42px $padding-size 20px;
        }

        h3 {
            border-bottom: 1px solid black;
        }

        p {
            padding-top: 10px;
        }
    }
}

.comments {
    @include column();

    #comment-form {
        textarea {
            height: 64px;
        }
    }

    .comment {
        @include border-radius(4px, 4px);
        background-color: #fff;
        padding: $padding-size;
        margin: $padding-size 0;

        .date-posted {
            text-align:right;
            font-size: 0.9*$font-size;
        }
    }    
}

footer {
    @include text();
    width: 240px;
    margin: 0 auto;
    text-align: center;

    img {
        max-width: 100%;
        width: 200px;
        vertical-align: text-bottom;
    }
}